
#form {
    border: 5px solid blanchedalmond;
    height: 150px;
    width: 700px;
    background-color: skyblue; font-family: Verdana, Geneva, Tahoma, sans-serif;
display:inline-block;}
  
#form {
    align-content: center;
  color:burlywood;}
  