body {
  background-color:rgb(62, 62, 244);
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 5px solid gold;
color: azure;
flex-direction: ;
}

.nav ul li{ 
color: aliceblue;
   list-style-type: none;
   text-align: center;
   border: 4px solid gold;
   border-radius: 20px;
   border-spacing: 50px;
   border-right-color:gold;
   height: 30px;
   width: 100px;
   border-left-color: gold;
float: right;
display: inline-block;
position:sticky;
}

.nav :hover { background-color:darkgreen;
  text-align:center; 
}

.nav a {text-decoration: none;
  color:antiquewhite;}
  

img { background-size: cover;
  border: 1px solid gold;
  height: 200px;
width: 300px;
text-align: justify;
float: inline-start;

}


.sun {
  display: inline-block;
  border: 3px solid orangered;
  float: inline-end;


}

.title {text-align: center;}

  #p {
    text-align: justify;
    height: 200px;
  width: 800px; 
  float:top;
  margin-left: 100px;
  
}

  .p {text-align: justify;
    height: 200px;
  width: 800px;
}

.footer {color:yellow;}

#form {
  border: 5px solid blanchedalmond;
  height: 150px;
  width: 700px;
  background-color: skyblue; font-family: Verdana, Geneva, Tahoma, sans-serif;}

#form {background-color:blue;
  align-content: center;
color:burlywood;}


