body {
  background-color:cornflowerblue;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 10px solid gold;
border-spacing: 6px;
border-style:groove;
color: azure;
padding: 50px;
}



.nav ul li {

  text-decoration: none;
  list-style-type: none;
  display: inline-block; 
  float: right;
  color: gainsboro;
   text-align: center;
   border: 3px solid gold;
   height: 30px;
   width: 100px;
   border-style:ridge;

} 
  


.nav :hover { background-color:darkgreen;
  text-align:center;  
}

.nav a {text-decoration: none;
  color:antiquewhite;
 
  }
  

img { background-size: cover;
  border: 1px solid gold;
  height: 200px;
width: 300px;
text-align: justify;
float: inline-start;
margin: 30px;

}

.sun {
  display: inline-block;
  border: 3px  orangered;
  float: inline-end;

}

.title { padding-top: 80px;
  text-align: center;
  
  
}

  #p {
    text-align: justify;
     
}

  .p {text-align: justify;
   
}

.footer {color:yellow; 
text-align: center;}

/* Form section */

#form {
  margin: 0px;
  padding: 0px;
 
  text-decoration: none;
  
}
