body {
  background-color:rgb(62, 62, 244);
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 5px solid gold;
color: azure;
padding: 40px;
}

nav { float: right; object-position: sticky;
 
  }

.nav ul li {
  position:absolute
  text-decoration: none;
  list-style-type: none;
  display: inline-block; 
  float: right;
  color: gainsboro;
   text-align: center;
   border: 2px solid gold;
   height: 30px;
   width: 100px;
   margin-right: 30px ;

} 
   
   
.nav :hover { background-color:darkgreen;
  text-align:center;  
}

.nav a {text-decoration: none;
  color:antiquewhite;
 
  }
  

img { background-size: cover;
  border: 1px solid gold;
  height: 200px;
width: 300px;
text-align: justify;
float: inline-start;
margin: 30px;

}

.sun {
  display: inline-block;
  border: 3px solid orangered;
  float: inline-end;


}

.title { padding-top: 80px;
  text-align: center;
  
  
}

  #p {
    text-align: justify;
     
}

  .p {text-align: justify;
   
}

.footer {color:yellow; 
text-align: center;}

/* Form section */

#form {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-decoration: none;
  
}
