
.h1 {color: blueviolet;}

.p1, .p2 {font-size: larger; font-family: Arial, Helvetica, sans-serif; color: blueviolet; word-spacing: 1px; letter-spacing: 6px;}

.p3, .p4, .p5 {font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; text-decoration: underline;}