 

.p1, .p2{
    color: blue; 
    font-size: large; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, serif; word-spacing: 2px; letter-spacing: 6px; font-style: italic; line-height: 20px;}

.p3, .p4, .p5 { text-decoration: underline; font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

/*

.p1, .p2 { color: rgb(29, 232, 232);}

.newParagraph2{

    /* color:#a52a2a */
    
    /* color:brown; */
    
    color:rgb(255, 0, 159);
    
    /* background-color:hsla(250, 48%, 48%, 0.6) */
    
    background-color:rgba(42, 165, 73,0.6);


    /*
1. have a div give 300px height and width

change the background color of the div using HSL with having transparency

2. add two paragraph and change thier colour and background colour using RGB And Hexadecimal vlaues.



!Task

have five different paragraph

1. change font-size, font family, text color, letter and word spacing between the text for the first two paragraphs.

    !use google fonts/

 

2. Change the font family, underline and bold the text last three paragraphs*/