
body {
    background-color: white;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}
 
header {
    background-color: yellow;
    grid-column:1/4;
    grid-row: 1/1;
}
 
nav {
    background-color: yellow;
    grid-column: 1/2;
    grid-row: 2/4;
}
 
article {
    background-color: yellow;
    grid-column: 2/3;
    grid-row: 2/4;
}
 
aside {
    background-color: yellow;
    grid-column: 3/4;
    grid-row: 2/4;
}
 
footer {
    background-color: yellow;
    grid-column: 1/4;
    grid-row: 4/4;
}