/*.parent { background-color: blueviolet;
position: relative;}

.first {height: 400px;
    width: 400px;
        top: 30px;
background-color: blanchedalmond;
position: relative;}

.second 
    {width: 100%;
background-color:red;
}  

.third {height: 200px;
    width: 200px;
background-color: blue;}

.stick{ width: 100%;
background-color: chocolate;
position: sticky;
top:0px} */

.parent {height:200px;
width:200px;
background-color: darkgoldenrod;
z-index: 1;
display: flex;
justify-content:center;
align-items: center;
top: 100px;
left: 40px

}

.area1 {height:200px;
    width:200px;
    background-color:blueviolet;
    z-index: 1;
    display: flex;
    justify-content:center;
    position: relative;
     align-items: center;
     right: -60px;
    down: 40px;
}

    .area2 {height:200px;
        width:200px;
        background-color:firebrick;
    z-index: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    right: ;
    left: ;
  
}


.img :hover {z-index: 2}

/*** NAVIGATION*****/

ul {list-style-type: none;
    background-color: aqua;
    overflow: hidden;
    padding: 0px;
    position: sticky;
    top: 0px;

}

ul li{
    display: inline-block;
    padding: 10px 20px ;
    border-right: 2px solid orange;

}

ul li a{
    text-decoration: none;
    color:coral;
    font-size: 20px;
    padding: 10px 20px ;
   
}
li a:hover {background-color: goldenrod;}

.header { height: 80px;
background-color: cornflowerblue;}