timeline(['Eat, 'Code', 'Sleep', 'Repeat']);
timeline([
    {
        title: 'Eat',
        text: 'Everything you find in the fridge',
        color: '#AEC9F3'
    },
    { ... },
    { ... },
    { ... }
]);